.city-priview-item {
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(228, 228, 228);
  }

  &__content {
    padding: 10px;
  }

  &__transition {
    &-enter,
    &-appear {
      width: 120px;
      color: transparent;
      opacity: 0;
    }

    &-enter-active,
    &-appear-active {
      width: 100%;
      opacity: 1;
      transition: all 1000ms;
    }
  }
}
