.forecast {
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  margin-top: 10px;

  &__header {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 10px;
  }

  &__tabs {
    padding: 10px;
    padding-top: 0;
  }

  &__transition {
    &-enter,
    &-appear {
      width: 120px;
      color: transparent;
      opacity: 0;
    }

    &-enter-active,
    &-appear-active {
      width: 100%;
      opacity: 1;
      transition: all 1000ms;
    }
  }
}
