.current-weather {
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  margin-top: 10px;

  &__header {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 10px;
    padding-bottom: 5px;
  }

  &__content {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    width: 10%;
    padding-right: 10px;
  }

  &__info {
    width: 90%;
  }

  &__transition {
    &-enter,
    &-appear {
      width: 300px;
      opacity: 0;
      color: transparent;
    }

    &-enter-active,
    &-appear-active {
      width: 100%;
      opacity: 1;
      transition: all 1000ms;
    }
  }
}
